{block content}

<div class="content-text" n:inner-foreach="$navigation as $category">
    {if $category->slug == $currentPage}
        {!$category->text}
    {/if}
</div>

{if $currentPageType == 'home'}
<div id="slider-wrap">
    <div id="slider" >
        <a id="prev" href="#"></a>
        <a id="next" href="#"></a>
        <div class="sliderImg" n:foreach="$images as $image">
            <img src="/upload/images/{$image->slug}" height="350px">
        </div>
    </div>
</div>

<div id="product-wrap" n:inner-foreach="$presenter->getLastProducts(4) as $product">
    {control "product".$product->id}
</div>
{/if}


{if $currentPageType == 'eshop'}
<div id="product-wrap" n:inner-foreach="$products as $product">
    {control "product".$product->id}
</div>
{/if}


{if $currentPageType == 'clasic'}
<div id="x" n:inner-foreach="$products as $product">
    {control "product".$product->id}
</div>
{/if}


{if $currentPageType == 'contact'}

{/if}

{/block}
