{block content}

<div id="top-button-nav">
    <a class="top-button" n:href="Shipping:add"><i class="fa fa-plus"></i>Přidat způsob dopravy</a>
</div>

<div class="box">

    <h2>Doprava</h2>

    <table n:inner-foreach="$shippingList as $shippingItem">
        <tr>
            <td>{$shippingItem->name}</td>
            <td>{$shippingItem->price}</td>
            <td><a n:href="Shipping:edit $shippingItem->id">Upravit</a></td>
        </tr>
    </table>

</div>

{/block}