<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="noindex, nofollow">

	<title>{block title}Administrace{/block}</title>

	<link rel="stylesheet" href="{$basePath}/css/fileManagerStyle.css">
	<link rel="stylesheet" href="{$basePath}/css/font-awesome/css/font-awesome.min.css">

	<script type="text/javascript" src="{$basePath}/js/libs/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/js/libs/nette.ajax.js"></script>
	{block #head}{/block}
	<script type="text/javascript" src="{$basePath}/js/adminScript.js"></script>
	<script type="text/javascript" src="{$basePath}/js/libs/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/tinymce.js"></script>
	<link rel="shortcut icon" href="{$basePath}/images/favicon.png">
</head>

<body>

    {include #content}

</body>
</html>
