{block content}

<div id="top-button-nav">
    <a class="top-button" n:href="Navigation:add"><i class="fa fa-plus"></i>Přidat záložku</a>
</div>

<div class="box">
    <h2>Navigace</h2>

    {snippet navigationList}
    <span class="flashMessage" n:foreach="$flashes as $flash">{$flash->message}</span>

    <div id="settingsNav" n:inner-foreach="$navigation as $items">
        {foreach $items as $key => $item}
        <span class="row">
            {if $key == 'parent'}
                <a class="mButton" n:href="Navigation:edit $item->id">{$item->name}</a>
                <a class="ajax mButton" n:href="navigationMove! top ,$item->id"><i class="fa fa-long-arrow-up"></i></a>
                <a class="ajax mButton" n:href="navigationMove! bottom ,$item->id"><i class="fa fa-long-arrow-down"></i></a>
                <a class="mButton" n:href="navigationDelete! $item->id, $item->parentId"><i class="fa fa-close fa-lg"></i></a>
            {else}
                <a class="mButton" n:href="Navigation:edit $item->id">- {$item->name}</a>
                <a class="ajax mButton" n:href="navigationMove! top ,$item->id, $item->parentId"><i class="fa fa-long-arrow-up"></i></a>
                <a class="ajax mButton" n:href="navigationMove! bottom ,$item->id, $item->parentId"><i class="fa fa-long-arrow-down"></i></a>
                <a class="mButton" n:href="navigationDelete! $item->id, $item->parentId"><i class="fa fa-close fa-lg"></i></a>
            {/if}
        </span>
        {/foreach}
    </div>
 </div>
    {/snippet}

{/block}
