{block content}

<div id="top-button-nav">
    <a class="top-button" n:href="RightBox:add"><i class="fa fa-plus"></i>Přidat panel</a>
</div>

<div class="box">
    <h2>Postraní panely</h2>

    {snippet RightBoxList}
    <div n:inner-foreach="$rightBoxes as $rightBox">
        <span class="row">
            <a class="mButton" n:href="RightBox:edit $rightBox->id">{$rightBox->name}</a>
            <a class="ajax mButton" n:href="rightBoxMove! top, $rightBox->id"><i class="fa fa-long-arrow-up"></i></a>
            <a class="ajax mButton" n:href="rightBoxMove! bottom, $rightBox->id"><i class="fa fa-long-arrow-down"></i></a>
            <a class="ajax mButton" n:href="rightBoxDelete! $rightBox->id"><i class="fa fa-close fa-lg"></i></a>
        <span>
    </div>
    {/snippet}
</div>
{/block}
