{block content}

    <div class="box">
        <h2>Název eshopu</h2>

        {control webNameForm}

    </div>

    <div class="box">
        <h2>Vaše logo</h2>

        {control logoForm}

        <img n:if="$logo" class="" src='/upload/images/{$logo->value}'>
    </div>

    <div class="box">
        <h2>Obrázek v hlavičce</h2>

        {control favIconForm}

        <img n:if="$favIcon" class="" src='/upload/images/{$favIcon->value}'>
    </div>



{/block}
