{var $totalPrice = 0}
<table class="order-form" n:foreach="$cartItems as $cart">
    <tr>
        <td width="100px">
            <img src="{$presenter->getImgPath($cart, $products, $productImages)}" height="90px">
        </td>
        <td width="400px">
            <a href="{plink Product:default $cart->productId}">{$products[$cart->productId]->name}</a>
        </td>
        <td>
            {$cart->quantity}
        </td>
        <td>
            {var $totalPrice += $cart->quantity * $products[$cart->productId]->price}
            {$cart->quantity * $products[$cart->productId]->price} Kč
        </td>
    </tr>
    {last}
        <tr>
            <td></td><td></td><td></td>
            <td>
                {$totalPrice} Kč
            </td>
        </tr>
    {/last}
</table>

{control form}