{block content}


<div class="order-box">
    <div class="order-box-header">
        <a class="" n:href="Order:default cart"><span class="number{if $orderState == 'cart'} order-button-active{/if}">1</span><span class="name">Váš košík</span></a>
        <a class="" n:href="Order:default address"><span class="number{if $orderState == 'address'} order-button-active{/if}">2</span><span class="name">Adresa</span></a>
        <a class="" n:href="Order:default shipping"><span class="number{if $orderState == 'shipping'} order-button-active{/if}">3</span><span class="name">Doručení</span></a>
        <a class="" n:href="Order:default payment"><span class="number{if $orderState == 'payment'} order-button-active{/if}">4</span><span class="name">Platba</span></a>
        <a class="" n:href=""><span class="number{if $orderState == 'summary'} order-button-active{/if}">5</span><span class="name">Souhrn</span></a>
    </div>
    <div class="order-content">
        {include order}
    </div>
</div>

{/block}





{block order}

    {if $orderState == 'cart'}
        {control cartCheck}
    {elseif $orderState == 'address'}
        {control addressCheck}
    {elseif $orderState == 'shipping'}

    {elseif $orderState == 'payment'}

    {elseif $orderState == 'summary'}

    {/if}

{/block}