{block content}

<div id="top-button-nav">
    <a class="top-button" n:href="User:add"><i class="fa fa-plus"></i>Přidat uživatele</a>
</div>

<div class="box">
    <h2>Přehled uživatelů</h2>

    <table class="userTable" n:inner-foreach="$users as $user" border=1>
        {first}
        <tr class="header">
            <td>ID</td>
            <td>Jméno</td>
            <td>Příjmení</td>
            <td>Email</td>
            <td>Stav</td>
            <td>Role</td>
            <td>Vytvořen</td>
            <td>Naposledy upraven</td>
            <td></td>
        </tr>
        {/first}
        <tr class="{if $iterator->even}even{else}odd{/if}">
            <td>{$user->id}</td>
            <td>{$user->firstName}</td>
            <td>{$user->lastName}</td>
            <td>{$user->email}</td>
            <td>{$user->enabled == 1 ? Povolen : Zablokován}</td>
            <td>{$user->role}</td>
            <td>{$user->dateCreated|date:'j. n. Y H:i'}</td>
            <td>{$user->lastUpdated|date:'j. n. Y H:i'}</td>
            <td style="width: 65px;">
                <a n:href="User:edit $user->id" title="Upravit"><i class="fa fa-paint-brush"></i></a>
                <a n:href=""><i class="fa fa-close fa-lg" title="Smazat uživatele"></i></a>
            </td>
        </tr>
    </table>
</div>
{/block}
