
<a class="cart" href="#">
<b><span class="cart-price">{$cartMessage}</span></b>
<span class="cart-icon"><i class="fa fa-shopping-cart fa-lg"></i></span>
</a>

<div id="cart-info-wrap" n:if="$products != NULL">
    <div id="cart-info-arrow">
    </div>
    <div id="cart-info-detail" n:inner-foreach="$products as $product">
        <span class="cart-info-product">
            <a class="cart-info-product-button" href="{plink Product:default $product->productId->slug}">{$product->productId->name}</a>
            <span class="cart-info-product-quantity">{$product->quantity} ks</span>
            <span class="cart-info-product-price">{$product->productId->price * $product->quantity} kč</span>
            <a class="cart-info-product-cross ajax" n:href="removeProduct! $product->productId->id">X</a>
        </span>
        {last}
        <span class="cart-info-menu">
            <a href="{plink Order:default $cartOrderCart}">Objednat</a>
            <a href="#">Vyprázdnit košík</a>
        </span>
        {/last}
    </div>
</div>

