<div class="product">
    <a href="{plink Product:default $product->slug}">
        <div class="product-image">
            <img src="{$presenter->getTitleFotoPath($product)}" width="160px;">
        </div>
        <h3>
            {$product->name}
        </h3>
        <span class="price">
            {$product->price} kč
        </span>
    </a>
    {var currentUserId = !is_null($currentUser) ? $currentUser->id : NULL}
    <a class="product-cart ajax" href="{plink addToCart! $currentUserId, $product->id}">Přidat do košíku</a>
</div>
