{block content}

    <div id="auth-container">
        <h1>Přihlášení do administrace</h1>

        {*{control authForm}*}

        {form authForm}
        <table>
            <tr>
                <td><i class="fa fa-envelope"></i>{label email /}<td>
            </tr>
            <tr>
                <td>{input email}<td>
            </tr>
            <tr>
                 <td><i class="fa fa-unlock-alt"></i>{label password /}<td>
             </tr>
             <tr>
                 <td>{input password}<td>
             </tr>
             <tr>
                  <td>{input login}<td>
              </tr>
              <tr>
                <td><span class="error" n:foreach="$form->errors as $error">{$error}</span></td>
              </tr>
        </table>
        {/form}
	</div>

{/block}
