<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="noindex, nofollow">

	<title>{ifset $title}{else}{block title}{/block}{/ifset}</title>

	<link rel="stylesheet" href="{$basePath}/css/frontStyle.css">
	<link rel="stylesheet" href="{$basePath}/css/font-awesome/css/font-awesome.min.css">

	<script type="text/javascript" src="{$basePath}/js/libs/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/js/libs/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/libs/cyclePlugin.js"></script>
	{block #head}{/block}
	<script type="text/javascript" src="{$basePath}/js/frontScript.js"></script>

	<link rel="shortcut icon" href="{$favIcon}">
</head>

<body>

	<div id="wrap">
		<div id="header">
			<a n:href="Homepage:default" title="{$webName}"><img src="{$logoPath}"></a>


			<div n:snippet="cartTop" class="cart-info">
				{control cartInfo}
			</div>


			{if is_null($currentUser)}
				<a id="login" n:href="User:auth">Přihlásit</a>
			{else}
				<div id="top-box-info">
					<a id="user-email" href="#">{$currentUser->email}</a>
					<a id="logout" n:href="logout!">Odhlásit</a>
				</div>
			{/if}

		</div>
		<div id="nav">
			<ul id="nav-outer" n:inner-foreach="$navigation as $item">
				{if $item->parentId == null}
					<li>
						{if $item->type == 'home'}
						<b><a class="{if $currentPage == $item->slug}isActive{/if}{if $currentPage == ''}{if $item->type == 'home'}isActive{/if}{/if}" n:href="Homepage:default">{$item->name}</a></b>
						{else}
						<b><a class="{if $currentPage == $item->slug}isActive{/if}" n:href="Homepage:default $item->slug">{$item->name}</a></b>
						{/if}

						{var $subNavigation = $presenter->getSubnavigation($navigation, $item)}
						{if $subNavigation}
							<ul class="nav-sub-menu" style="left:{$item->marginLeft}%; width:{$item->size}%;"  n:inner-foreach="$subNavigation as $subItem">
								<li><img src="{$basePath}/images/testIcon.png" height="25px"><a n:href="Homepage:default $item->slug, $subItem->slug">{$subItem->name}</a></li>
							</ul>
						{/if}
					</li>

				{/if}
			</ul>
		</div>



		<a n:href="User:registration">Registrace</a>
		<div id="container">
			<div id="content">
			    <div id="right-sidebar" n:inner-foreach="$rightBoxes as $rightBox">
                    {control "rightBox".$rightBox->id}
                </div>
				{include #content}
			</div>

		</div>

 	<!-- <div id="footer">
		<a href="http://lukasfessl.cz">Lukáš Fessl © 2014</a>
	</div> -->

	</div>




</body>
</html>
