{block content}


<div id="top-button-nav">
    <a class="top-button" n:href="Product:add"><i class="fa fa-plus"></i>Přidat produkt</a>
</div>

<div class="box">

    <h2>Přehled produktů</h2>

    <div class="productList" n:inner-foreach="$products as $product">
        <table class="product" border=1>
            <tr>
                <td rowspan="3" class="productImage"><img src="{$presenter->getImgPath($product, $productImages)}" height="70;"></td>
                <td>{$product->name}</td>
                <td class="productStatus" rowspan="3">
                    <a class="{if $product->status == 'selling'}actionActive{/if}" n:href="selling! $product->id">Prodává se</a>
                    <a class="{if $product->status == 'notselling'}actionNotSelling{/if}" n:href="notselling! $product->id">Neprodává se</a>
                </td>
                <td class="productEdit" rowspan="3"><a n:href="Product:edit $product->id">Upravit</a></td>
                <td class="productDelete" rowspan="3"><a n:href="delete! $product->id">Smazat</a></td>
            </tr>
            <tr>
                <td>{$product->price} Kč</td>
            </tr>
            <tr>
                <td>Skladem: {$product->stock} ks</td>
            </tr>
        </table>
    </div>
</div>

{/block}
