{block content}

<div class="box">
    <h2>Slider</h2>

    {control sliderForm}

    {snippet selectImageList}
    <div id="select-images" n:inner-foreach="$imagesSelected as $image">
        {first}<h3>Aktivní</h3>{/first}
        <table class="select-image">
            <tr>
                <td><img src="/upload/images/{$image->slug}" height="100px"></td>
            </tr>
            <tr><td>
                <a class="ajax" n:href="sliderMove! left, $image->id"><i class="fa fa-long-arrow-left"></i></a>
                <a class="ajax" n:href="sliderChangeState! $image->id">Odebrat</a>
                <a class="ajax" n:href="sliderMove! right, $image->id"><i class="fa fa-long-arrow-right"></i></a>
            </td></tr>
        </table>
    </div>
    {/snippet}

    {snippet unselectImageList}
    <div id="unselect-images" n:inner-foreach="$imagesUnselected as $image">
        {first}<h3>Neaktivní</h3>{/first}
        <table class="unselect-image">
         <tr>
            <td><img src="/upload/images/{$image->slug}" height="100px"></td>
        </tr>
        <tr><td>
            <a class="ajax" n:href="sliderChangeState! $image->id">Vybrat</a>
            <a class="ajax" n:href="deleteSlider! $image->id">Smazat</a>
        </td></tr>
        </table>
    </div>
    {/snippet}
</div>

{/block}
