<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="noindex, nofollow">

	<title>{block title}Administrace{/block}</title>

	<link rel="stylesheet" href="{$basePath}/css/adminStyle.css">
	<link rel="stylesheet" href="{$basePath}/css/font-awesome/css/font-awesome.min.css">

	<script type="text/javascript" src="{$basePath}/js/libs/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/js/libs/nette.ajax.js"></script>
	{block #head}{/block}
	<script type="text/javascript" src="{$basePath}/js/adminScript.js"></script>

	<link rel="shortcut icon" href="{$basePath}/images/favicon.png">
</head>

<body id="auth-body">

    <div id="auth-container-wrap">
        <img src="/images/logo.png">

	    {include #content}
	</div>

</body>
</html>
