<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="noindex, nofollow">

	<title>{block title}Administrace{/block}</title>

	<link rel="stylesheet" href="{$basePath}/css/adminStyle.css">
	<link rel="stylesheet" href="{$basePath}/css/font-awesome/css/font-awesome.min.css">

	<script type="text/javascript" src="{$basePath}/js/libs/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/js/libs/nette.ajax.js"></script>
	{block #head}{/block}
	<script type="text/javascript" src="{$basePath}/js/adminScript.js"></script>
	<script type="text/javascript" src="{$basePath}/js/libs/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/tinymce.js"></script>
	<link rel="shortcut icon" href="{$basePath}/images/favicon.png">
</head>

<body>


	<div id="topBar">
		<a id="logout" n:href="Auth:logout"><i class="fa fa-sign-out"></i>Odhlasit</a>
		<a href="#"><i class="fa fa-user"></i>{$currentUser->email}</a>
	</div>
	<div id="wrap">
		<ul id="nav" n:inner-foreach="$menu as $item">
			<li>
			    {if $item['link'] != "#"}
			        <a class = "nav-button{ifCurrent $item['presenter']} isActive{/ifCurrent}" n:href="$item['link']"><i class="{$item['i']}"></i>{$item['title']}</a>
			    {else}
                    <a class = "nav-button{ifCurrent $item['presenter']} isActive{/ifCurrent}"><i class="{$item['i']}"></i>{$item['title']}</a>
			    {/if}

			{ifset $item['submenu']}

                    <ul class="subnav {if in_array($presenter->getName().':*', $item['submenu']['presenters'])} subNavIsActive{/if}" n:inner-foreach="$item['submenu']['pages'] as $subItem">
                        <li><a class="subnav-button" n:href="$subItem['link']">{$subItem['title']}</a></li>
                    </ul>
            {/ifset}

            </li>
			{*{if 'Admin:'.$item['presenter'] == $presenter->getName().':*'}*}
				{*{ifset $subMenu}*}
				{*<div id="subnav" n:inner-foreach="$subMenu as $subItem">*}
					{*<a class = "{ifCurrent $subItem['link']} subItemIsActive{/ifCurrent}" n:href="$subItem['link']">{$subItem['title']}</a>*}
				{*</div>*}
				{*{/ifset}*}
			{*{/if}*}
			{*{$presenter->getName()}*}
		</ul>

		<div id="container">
			<div id="content">
				{include #content}
			</div>
		</div>
	</div>

 	<!-- <div id="footer">
		<a href="http://lukasfessl.cz">Lukáš Fessl © 2014</a>
	</div> -->




</body>
</html>
