body {
	font: 15px "Arial, Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: black;
	width: 100%;
	background-position: center;
	margin: 0px;
    background-color: #222D32;
}

#wrap {
	width: 100%;
	float: left;
}

#container {
	min-height: 800px;
	margin: 0px 0px 0px 204px;
	padding: 20px 3%;
	background-color: #ECF0F5;
}


ul, li {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

h2 {
	margin: 0px;
}

.fa-close {
    color: red
}

.fa-paint-brush {
    color: green;
}


/*AUTH*/

#auth-body {
    background-color: #f9f9f9;
}

#auth-container-wrap {
    margin: auto;
    margin-top: 7%;
    width: 280px;
}

#auth-container-wrap img {
    margin: 0px 0px 70px 10px;
}

#auth-container {
    border: 1px solid #b5b5b5;
    border-top: 5px solid #5296b6;
    width: 270px;
    padding: 10px;
    background-color: white;
}

#auth-container h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#auth-container input {
    width: 240px;
}

#auth-container input[type=submit] {
    border: none;
    width: 260px;
    height: 35px;
    margin: 10px 0px 0px 3px;
    background-color: #5296b6;
    color: white;
}

#auth-container label {
    font-weight: bold;
    margin-left: 7px;
}

#auth-container i {
    margin-left: 7px;
}

#auth-container .error {
    color: red;
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

/*END AUTH*/






/*TOP BAR*/

#topBar {
	width: auto;
    height: 50px;
    color: white;
	background-color: #3C8DBC;
}

#topBar i {
    padding: 0px 5px 0px 0px;
}

#topBar a {
    color: white;
    float: right;
    padding: 15px 20px 15px 20px;
}

#topBar a:hover {
    color: white;
    background-color: #357EA8;
}

/*END TOP BAR*/




/*GLOBAL*/


/*GLOBAL*/
.box {
    border: 1px solid #d5d5d5;
    border-top: 4px solid #FF6900;
    border-radius: 4px;
    width: 100%;
    float:left;
    padding: 10px;
    margin: 10px 0px 30px 0px;
    background-color: white;
}

.box h2 {
    border-bottom: 1px solid #eeeeee;
    padding: 0px 0px 5px 0px;
    margin-bottom: 10px;
}

.box h3 {
    border-bottom: 1px solid #eeeeee;
    padding: 0px 0px 5px 0px;
    margin-bottom: 10px;
    font-size: 15px;
}

.box form {
    margin: 20px 0px;
}

.box .row {
    float: left;
    width: 100%;
}

.box .mButton {
    float: left;
    padding : 5px 0px 5px 0px;
}

.box .mButton i{
    padding : 0px 3px 0px 3px;
    float: left;
    color: green;
}

.box .mButton .fa-close {
    color: red;
}

/*END LOGO*/

#logoWrap a {
	float: left;
	margin: 10px;
}

#logoWrap img {
	height: 100px;
	border: 4px solid white;
}

#logoWrap .logoSelect {
	border: 4px solid green;
}

#logoWrap .cross img{
	width: 24px;
	height: 24px;
	border: none;
	float: left;
	margin: -0px 0px 0px -45px
}

/*END LOGO*/





/* MENU */
#nav {
	/*box-shadow: 0px 0px 10px black;*/
	border-right: 3px solid white;
	width: 20px;
	height: auto;
	float: left;
	background-color: #222D32;
}

#nav .nav-button {
	/*border-bottom: 1px solid #c7c7c7;*/
    border-left: 4px solid #222D32;
	width: 180px;
	height: 20px;
	display: block;
	float: left;
	padding: 15px 10px 15px 10px;
	color: #a7c8db;
	background-color: #222D32;
	text-decoration: none;
}

#nav .isActive {
    border-left: 4px solid #FF6900;
	background-color: #222D32;
	color: white;
}

#nav .nav-button:hover{
    border-left: 4px solid #FF6900;
	background-color: #2C3B41;
	color: white;
}

#nav li:active .subnav {
    /*display: block;*/
}

.nav-button i {
    padding: 0px 10px 0px 0px;
}

.subnav {
    float: left;
    display: none;
}

.subnav .subnav-button {
	/*border-bottom: 1px solid #c7c7c7;*/
    width: 180px;
	font-size: 14px;
	background-color: #2C3B41;
	text-decoration: none;
    float: left;
    padding: 10px;
    color: white;
}

.subnav .subnav-button:hover {
    color: #a7c8db;
}

.subNavIsActive {
    display: block;
	color: #2e8d16;
}



#top-button-nav {
    width: 100%;
    float: left;
}

.top-button {
    border-radius: 4px;
    border: 1px solid #a4a4a4;
    background-color: #ebebeb;
    color: #666666;
    float: left;
    padding: 12px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px white;
}
.top-button i {
    margin-right: 10px;
}

.top-button:hover i {
    color: #FF6900;
}

.top-button:hover {
    box-shadow: 0px 1px 1px #dfdfdf;
    background-color: #e6e6e6;
}


/* MENU END */





/* PRODUCT */
.product {
	border: 1px solid #c7c7c7;
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 20px;
	border-collapse: collapse;
	background-color: #ffffff;
}

.product:hover {
	/*background-color: #d6d6d6;*/
}

.product img {
    float: left;
    padding: 5px;
}
.productEdit, .productDelete {
	width: 80px;
}

.productImage {
	width: 100px;
}

.productStatus {
	width: 120px;
}

.productStatus a {
	text-decoration: none;
	display: block;
	background-color: #ababab;
	padding: 13px 0px;
	color: white;
    text-align: center;
}

.product .productDelete a ,.product .productEdit a{
	width: 90px;
	height: 52px;
	float: right;
	background-color: #435f93;
	text-align: center;
	padding-top: 33px;
	color: white;
	text-decoration: none;
}

.product .productDelete a {
	background-color: #e04040;
}

.product .productEdit a:hover {
	background-color: #395178;
}

.product .productDelete a:hover {
	background-color: #c30000;
}

.product .actionActive{
	background-color: green;
}

.product .actionCancel{
	background-color: #e07127;
}

.product .actionNotSelling{
	background-color: red;
}

input[type=text], input[type=password], select, #frm-productForm-form textarea {
	border: 3px solid white;
	box-shadow: 0px 0px 2px #8b8b8b;
	width: 300px;
	padding: 5px;
	margin: 5px;
}

select {
	width: 200px;
}
/* PRODUCT END */



/*SETTINGS*/

#settingsNav a {

}

/*END SETTINGS*/



/*USER*/
.odd {
	/*background-color: #c1d1e4;*/
}

.userTable {
    border: 1px solid #bfbfbf;
	border-collapse: collapse;
	width: 100%;

}

.userTable td {
	padding: 10px;
	color: black;
}

.userTable i {
    padding: 0px 10px 0px 5px;
}

.userTable tr:hover td{
	/*color: red;*/
}

.userTable .header {
	font-weight: bold;
	background-color: #f0f0f0;
}
/*END USER*/



/*SLIDER*/
#select-images, #unselect-images {
    border-top: 1px solid #eeeeee;
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

.select-image, .unselect-image {
    float: left;
    padding: 10px 10px 10px 0px;
}

#select-images h3, #unselect-images h3 {
    border-bottom: 1px solid #e8e8e8;
}

#select-images a i {
    color: green;
    padding: 0px 35px 0px 35px;
}

#select-images a i:hover {
    color: #005b00;
    padding: 0px 35px 0px 35px;
}

#unselect-images a {
    padding: 0px 30px 0px 30px;
}
/*END SLIDER*/