@font-face {
	font-family: verah;
	src:url('/fonts/verah.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
    font: 15px arial, verah;
    color: black;
    background: #ffffff;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    /*background-image: url("/images/bcg.png");*/
}

ul {
    list-style-type: none;
	padding: 0px;
}

li {
    float: left;
}

a {
    text-decoration: none;
}

h3 {
	margin: 0px;
}

.fa {
    color: #4f4f4f;
}



#header {
    width: 1100px;
    height: 80px;
    padding: 20px;
    margin: auto;
}

#header .cart-info {
	float: right;
	margin: 0px 0px 0px 20px;
}

#header .cart{
    border: 1px solid #949494;
    border-radius: 2px;
    height: 40px;
    display: block;
	float: right;
}

#header .cart-info:hover #cart-info-wrap{
    display: block;
}

#header .cart .cart-icon {
    border-left: 1px solid #949494;;
    width: 25px;
    height: 20px;
    float: right;
    padding: 10px 10px 10px 12px;
    background-color: #dcdcdc;
}

#header .cart .cart-price {
    float: left;
    padding: 11px;
    color: #84B943;
}

#cart-info-wrap {
	width: 410px;
	height: 100px;
	position: absolute;
	margin: 40px 0px 0px -218px;
	z-index: 50;
	display: none;
}

#cart-info-arrow {
	width: 40px;
	height: 20px;
	float: right;
	position: absolute;
	z-index: 50;
	margin: 5px 0px -15px 355px;
	background-image: url('/images/arrowTop.png');
}

#cart-info-detail {
	border-radius: 3px;
	border: 2px solid #9a9a9a;
	width: 400px;
	height: auto;
	position: absolute;
	margin-top: 23px;
	background-color: white;
	float: right;
}

#cart-info-detail {
	padding: 0px 5px;
}

.cart-info-product {
	border-bottom: 1px solid #9f9f9f;
	float: left;
	/*padding: 10px;*/

}

.cart-info-product .cart-info-product-button, .cart-info-product .cart-info-product-quantity, .cart-info-product .cart-info-product-price, .cart-info-product .cart-info-product-cross {
	width: 210px;
	float:left;
	color: #84B943;
	padding: 10px 5px;
}

.cart-info-product .cart-info-product-button:hover {
	text-decoration: underline;
}

.cart-info-product .cart-info-product-quantity {
	width: 50px;
	color: black;
}

.cart-info-product .cart-info-product-price {
	width: 80px;
	color: black;
}

.cart-info-product .cart-info-product-cross {
	width: 20px;
	color: black;
}

.cart-info-menu {
	width: 410px;
	height: 50px;
	float: right;
	margin: 10px -5px 0px -5px;
	background-color: #dcdcdc;
}

.cart-info-menu a {
	float: right;
	padding: 15px;
}



#header #login{
    border: 1px solid #aeaeae;
    border-radius: 3px;
    width: 120px;
    height: 20px;
    display: block;
    float: right;
    padding: 10px;
    background-color: #dcdcdc;
    text-align: center;
    color: #3e3e3e;
}

#header #top-box-info {
	float: right;
}

#header #top-box-info {
	border: 1px solid #949494;
	border-radius: 3px;
	height: 40px;
	float: right;
	background-color: #dcdcdc;

}

#header #user-email {
	height: 19px;
	float: left;
	padding: 11px 10px 10px 10px;
	color: #4f4f4f;
}

#header #logout {
	border-left: 1px solid #949494;
	height: 19px;
	float: left;
	padding: 11px 10px 10px 10px;
	color: #4f4f4f;
}

#header #logout:hover {
	background-color: #ABD07E;

}

#nav {
    border-bottom:2px solid #84B943;
    width: auto;
    height: 60px;
    background-color: #ABD07E;

}

#nav .isActive {
    background-color: #84B943;
}

#nav-outer {
    width: 1100px;
    margin: auto;
	position: relative;
}

#nav a {
    height: 20px;
    float: left;
    padding: 21px 30px;
    font-size: 18px;
    color: white;
    transition: background-color 250ms ease-in-out 0s;
}

#nav a:hover {
    background-color: #84B943;
}


#nav-outer li .nav-sub-menu {
	border: 1px solid #d4d4d4;
    border-top: 3px solid #84B943;
    height: auto;
	background-color: white;
    padding: 5px 0px 15px 0px;
	visibility: hidden;
	position: absolute;
	top: 62px;
	z-index: 20;
    opacity: 0;
    transition: opacity 0.25s linear;
}

#nav-outer li:hover ul{
	visibility: visible;

    opacity: 1;
	color: red;
}


#nav .nav-sub-menu a {
    border-bottom: 1px solid black;
	width: 190px;
    height: auto;
	padding: 5px;
	margin: 10px 10px 10px 10px;
	color: #555555;
    display: block;
    font-size: 12px;
    font-weight: bold;
    transition: color 250ms ease-in-out 0ms;
}

#nav .nav-sub-menu a:hover {
	background-color: white;
	color: #84B943;
}

#nav .nav-sub-menu img {
    width: 25px;
    height: 25px;
    float: left;
    display: block;
    margin: 15px 0px 0px 18px;
}




#container {
	width: 1100px;
	height: auto;
	margin: auto;
}

#content {
	width: 1100px;
	min-height: 500px;
	float: left;
	margin-bottom: 130px;
}

.content-text {
    width: 770px;
    padding: 0px 10px 0px 10px;
    background-color: white;
}

#slider-wrap {
	width: 785px;
	height: 350px;
    margin-bottom: 10px;
	float: left;
}

#slider {
	width: 785px;
	height: 350px;
	position: absolute;
}

#slider a {
	position: absolute;
	z-index: 10;
	top: 50px;
	width: 100px;
	height: 220px;
	display: none;
}

#slider:hover a{
	display: block;
}

#slider #prev {
	left: 10px;
	background-image: url('/images/arrowBigLeft.png');

}

#slider #next {
	left: 680px;
	background-image: url('/images/arrowBigRight.png');

}

.sliderImg img{
	position: absolute;


}



#right-sidebar {
    width: 300px;
    height: auto;
    float: right;
    margin: 0px 0px 0px -5px;
}


#right-sidebar .right-box {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    background-color: white;
}

#right-sidebar .right-box h4{
    width: 280px;
    margin: 0px;
    padding: 10px;
    background-color: #e7e7e7;
    color: #696969;
    font-weight: bold;
}

.right-box-content {
    padding: 0px 10px 10px 10px;
}

.right-box-content a {
    color: #737373;
    transition: color 150ms linear;
}

.right-box-content a:hover {
    color: #84B943;
    text-decoration: underline;
}





/*Product*/

#product-wrap {
    width: 800px;
	float: left;
}


#product-wrap .product {
    border: 1px solid #979797;
	width: 183px;
	height: 272px;
	float: left;
	margin: 0px 15px 20px 0px;
    background-color: white;
}

.product .product-image {
 	width: 160px;
	height: 160px;
	float: left;
	margin: 10px;
}

.product h3 {
	margin: 0px 10px 10px 10px;
	color: #353434;
	font-size: 15px;
}

.product:hover h3 {
	color: #84B943;
}

.product .price {
	margin: 10px;
	color: #84B943;
	font-weight: 700;
	font-size: 16px;
}

.product .product-cart {
	width: 163px;
	display: block;
	float: left;
	padding: 10px;
	margin-top: 10px;
	color: white;
	background-color: #b3b3b3;
	font-weight: 700;
	text-align: right;
}


/*ORDER*/

.order-form {
	width: 770px;
}

.order-box {
    border: 1px solid #979797;
    width: 790px;
    float: left;
}

.order-box-header {
    border-bottom: 1px solid #979797;
    width: 770px;
    float: left;
    padding: 10px;
    background-color: #e7e7e7;
}

.order-box-header a {
    float: left;
    width: 153px;
}

.order-box-header a .number{
    /*background-color: #84B943;*/
    width: 40px;
    height: 20px;
    float: left;
    color: white;
    padding: 10px 0px;
    text-align: center;
    background-color: #959595;
    font-weight: bold;
}

.order-box-header a .name{
    float: left;
    padding: 11px 15px 10px 15px;
    color: #686868;
    font-weight: bold;
}

.order-box-header a:hover .number {
    background-color: #84B943;
}

.order-box-header a .order-button-active {
    background-color: #84B943;
}

.order-content {
    float: left;
    padding: 20px 10px 10px 10px;
}